body {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.header {
    display: flex;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}
.left, .right {
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
    gap: 50px;
}
.left-side {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.right-side {
    width: 700px;
    height: 120px;
    background-color: grey;
    display: flex;
    align-self: center;
}
.main-text{
    font-size: 48px;
    font-weight: extra-bold;
}
.second-text {
    font-size: 18px;
}
.container-two {
    text-align: center;
    margin-top: 50px;
}
.content {
    display: flex;
    justify-content: center;
    gap:25px;
}
.img {
    border: 3px solid;
    border-color: #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 12px;
  }
  .title {
    margin-bottom: 20px;
  }
 .text {
    width: 110px;
 }
 .container-three {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
 }
 .author {
    align-self: flex-end;
 }
 .container-four {
    margin-top: 50px;
    display: flex;
 }
 .footer {
    margin-top: 45px;
    align-self: center;
 }





