body {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.header {
    display: flex;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}
.left, .right {
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-around;
    gap: 50px
}
.left-side {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.right-side {
    width: 800px;
    background-color: grey;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.main-text{
    font-size: 48px;
    font-weight: extra-bold;
}
.second-text {
    font-size: 18px;
}

